@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}



.done {
    text-decoration: line-through;
    color: black;
    background-color: #95a5a6 !important;
}